/* =====================
=========Global=========
===================== */

:root {
  /* ==Palette== */
    --n-hs: 0 0%;
    --p-hs: var(--n-hs);
  
    --p-hs-forest: 86 51%;
    --p-hs-grass:  83 40%;
    --p-hs-gold:   46 74%;
    --p-hs-blood:   6 84%;
    --p-hs-light:  42 68%;
  
    --s-hs-water:     227 90%;
    --s-hs-air:       111 90%;
    --s-hs-fire:       14 90%;
    --s-hs-stone:      44 90%;
    --s-hs-plantlife: 304 90%;
    --s-hs-tremor:     57 90%;
    --s-hs-lightning: 195 90%;
    --s-hs-gravity:   280 90%;
    --s-hs-mind:      160 90%;
  
    /* ==How to set varying colors:
  
  .exampleClass {
    --p-hs: var(--p-hs-SPECIFIC);
  } */
  
    --l-black:   0%;
    --l-5:       5%;
    --l-10:     10%;
    --l-20:     20%;
    --l-30:     30%;
    --l-50:     50%;
    --l-70:     70%;
    --l-85:     85%;
    --l-white: 100%;
    
    --primary-l:   var(--l-black);
    --secondary-l: var(--l-50);
    --tertiary-l: var(--l-30);
    --background-l: var(--l-30);
    
  /* ==Extras== */
  
    --hp-percent: 100%;
    --vp-ratio: calc(1vw / 1vh);
    --header-height-MN: 457.584;
    --header-height: calc(var(--vp-ratio) * var(--header-height-MN))%;
  
    margin: 0;
    inset: 0 0 0 0;
  }
  
  @media (color-scheme: dark) {
    :root {
    --primary-l: var(--l-white);
    }
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: hsl( var(--p-hs) var(--l-70) );
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: hsl( var(--p-hs) var(--l-30) );
    border: 2px solid hsl( var(--p-hs) var(--l-30) );
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-button {
    display:none;
  }
  
  /* =====================
  =======Typography=======
  ===================== */
  
  :root {
    --step--2: clamp(0.78rem, calc(0.68rem + 0.50vw), 1.04rem);
    --step--1: clamp(0.94rem, calc(0.80rem + 0.71vw), 1.30rem);
    --step-0: clamp(1.13rem, calc(0.93rem + 0.98vw), 1.63rem);
    --step-1: clamp(1.35rem, calc(1.08rem + 1.33vw), 2.03rem);
    --step-2: clamp(1.62rem, calc(1.26rem + 1.79vw), 2.54rem);
    --step-3: clamp(1.94rem, calc(1.46rem + 2.40vw), 3.17rem);
    --step-4: clamp(2.2rem, calc(1.8rem + 3vw), 3.6rem);
  }
  
  input {
    all: unset;
    text-align: center;
    font-size: var(--step-4);
    text-shadow: 0px 0px 2px hsl( var(--p-hs) var(--l-50) );
    color: hsl( var(--p-hs) var(--l-black) );
    margin: 0;
  }
  
  button {
    all: unset;
    font-size: var(--step-1);
    text-shadow: 0px 0px 2px hsl( var(--p-hs) var(--l-50) );
    color: hsl( var(--p-hs) var(--l-black) );
    margin: 0;
  }
  
  h1 {
    font-size: var(--step-3);
    text-shadow: 0px 0px 2px hsl( var(--p-hs) var(--l-50) );
    color: hsl( var(--p-hs) var(--l-black) );
    margin: 0;
  }
  
  h2 {
    font-size: var(--step-2);
    text-shadow: 0px 0px 2px hsl( var(--p-hs) var(--l-50) );
    color: hsl( var(--p-hs) var(--l-10) );
    margin: 0;
  }
  
  h3 {
    font-size: var(--step-1);
    text-shadow: 0px 0px 2px hsl( var(--p-hs) var(--l-50) );
    color: hsl( var(--p-hs) var(--l-10) );
    margin: 0;
  }
  
  h4 {
    font-size: var(--step-0);
    text-shadow: 0px 0px 2px hsl( var(--p-hs) var(--l-50) );
    color: hsl( var(--p-hs) var(--l-5) );
    margin: 0;
  }
  
  h5 {
    font-size: var(--step--1);
    text-shadow: 0px 0px 2px hsl( var(--p-hs) var(--l-50) );
    color: hsl( var(--p-hs) var(--l-black) );
    margin: 0;
  }
  
  h6 {
    font-size: var(--step--2);
    text-shadow: 0px 0px 2px hsl( var(--p-hs) var(--l-50) );
    color: hsl( var(--p-hs) var(--l-black) );
    margin: 0;
  }
  
  /* =====================
  =========Layout=========
  ===================== */
  
  body {
    margin: 0;
  }
  
  /* ==Header== */
  
  .wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-perspective: 10px;
    perspective: 10px;
  }
  
  .header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: -1;
  }
  
  /* ====Sheet==== */
  
  .container {
    display: grid;
    grid-template-rows: 1fr 18fr 1fr;
    grid-template-columns: 1fr 18fr 1fr;
    width: 120vw;
    aspect-ratio: 1/1;
    margin-top: 60%;
    margin-inline: -10%;
    background: linear-gradient(110deg, rgba(38, 62, 33, 0.7) 0%, rgba(115,115,115,0.7) 100%);
    outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
    outline-offset: -6px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-shadow: -8px 2px 5px 4px rgba(115,115,115,0.7);
    mix-blend-mode: overlay;
  }


  
  .corner1,
  .corner2,
  .corner3,
  .corner4 {
    background: rgba(115,115,115,0.7);
    outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
    outline-offset: -6px;
  }
  
  .holder {
    background: transparent;
    z-index: 1;
  }
  
  .glass {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    background: linear-gradient(110deg, rgba(31,34,18,0.3) 0%, rgba(115,115,115,0.3) 100%);
    mix-blend-mode: multiply;
    z-index: -1;
  }
  
  
  /* ==Portrait Box== */
  
  /* =Health Bar= */
  
  .healthBox {
    content: "";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 90%;
    height: 90%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    z-index: 1;
  }
  
  .healthBox:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, rgba(255,255,255,1) 5%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(255,255,255,1) 95%);
  }
  
  .healthBar {
    width: 150%;
    height: 80%;
    background: rgba(144,33,16,1);
    mix-blend-mode: multiply;
    opacity: 60%;
    -webkit-transform: rotate(45deg) translate(0%,calc(115% - (1.2 * var(--hp-percent))));
    transform: rotate(45deg) translate(0%,calc(115% - (1.2 * var(--hp-percent))));
    transition: 5s 0.5s ease-in-out;
  }
  
  .healthBar svg {
    margin-top: -50%;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     -webkit-transform: translate3d(-90px,0,0);
     transform: translate3d(-90px,0,0);
    }
    100% { 
      -webkit-transform: translate3d(85px,0,0);
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }
  
  /* =Portrait= */
  
  .portraitHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 200%;
    width: 146%;
    overflow: hidden;
    margin-inline: auto;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(45deg) translate(-6.5%,-50%);
    transform: rotate(45deg) translate(-6.5%,-50%);
    z-index: 1;
  }
  
  .portrait {
    width: 40%;
    aspect-ratio: 1/1;
    outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
    outline-offset: -6px;
    border-radius: 50%;
    overflow: hidden;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(100, 100, 100, 0.7) 100%
    );
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 2;
  }
  
  .portrait img {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  /* =Magic Holder= */
  
  .magicHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    margin-top: -10%;
    margin-bottom: -16.5%;
    z-index: 3;
    transition: 1s;
  }

  .magicHolder:hover {
    z-index: 5;
  }
  
  .nonagram {
    height: 100%;
    width: 40%;
    transition: 1s;
  }
  
  .nonagram.open {
    width: 100%;
    margin-top: -40%;
  }
  
  .magicCorner {
    width: inherit;
    position: absolute;
    display: flex;
    background: purple;
    justify-content: start;
    align-items: center;
    -webkit-clip-path: polygon(25% 50%, 37.2% 0%, 70% 35%, 70% 65%, 37.2% 100%);
    clip-path: polygon(25% 50%, 37.2% 0%, 70% 35%, 70% 65%, 37.2% 100%);
    mix-blend-mode: multiply;
    opacity: 30%;
    z-index: 1;
    transition: 1s;
  }
  
  .nonagram.open .magicCorner {
    background: transparent;
    -webkit-clip-path: polygon(5% 50%, 20% 35%, 30% 41.5%, 30% 58.5%, 20% 65%);
    clip-path: polygon(5% 50%, 20% 35%, 30% 41.5%, 30% 58.5%, 20% 65%);
    opacity: 100%;
  }
  
  .magicCorner:hover {
    cursor: pointer;
    -webkit-clip-path: polygon(0% 50%, 37.2% 0%, 70% 35%, 70% 65%, 37.2% 100%) !important;
    clip-path: polygon(0% 50%, 37.2% 0%, 70% 35%, 70% 65%, 37.2% 100%) !important;
  }
  
  .magicCorner:hover {
    cursor: pointer;
    z-index: 5 !important;
    mix-blend-mode: normal;
  }
  
  .magicType {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 25%;
    padding-top: 18%;
    padding-bottom: 2%;
    text-align: center;
    outline: 2px solid hsl(var(--p-hs-gold) var(--l-70));
    outline-offset: -4px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: 1s; 
  }
  
  .magicType h3 {
    -webkit-transform: scale(0%);
    transform: scale(0%);
    transition: 1s 0.25s;
  }
  
  .magicBox {
    width: 45%;
    padding-block: 5%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .magicBoxTop {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transform: translate(6.6625%,0.0625%);
    transform: translate(6.6625%,0.0625%);
    z-index: 5;
  }
  
  .manaCurrent,
  .manaMax,
  .magicPoints {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    aspect-ratio: 1/1 !important;
    overflow: hidden;
    outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
    border-radius: 50%;
    outline-offset: -6px;
    background: radial-gradient(ellipse, rgba(0,0,0,0) 50%, white 100%);
    -webkit-transform: scale(0%);
    transform: scale(0%);
    transition: 1s .25s;
  }

  .magicPoints .magicDesc:hover {
    border-radius: 1em;
    background: rgba(255,255,255,0.25);
    transition: 0.25s
  }
  
  .magicCorner:hover .magicType h3 {
    -webkit-transform: scale(100%);
    transform: scale(100%);
    transition: 0.25s;
  }
  
  .magicBoxBot {
    width: 50%;
    aspect-ratio: 1/2 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: translate(-6.6625%,-0.0625%);
    transform: translate(-6.6625%,-0.0625%);
  }
  
  .magic1 {
    -webkit-transform: rotate(30deg) translate(6%,0);
    transform: rotate(30deg) translate(6%,0);
  }
  
  .magic1:hover {
    cursor: pointer;
    background: hsl( var(--s-hs-water) var(--l-50)) !important;
  }
  
  .magic1 .magicType {
    background-color: hsl( var(--s-hs-water) var(--l-50));
  }
  
  .magic1:hover .magicPoints,
  .magic1:hover .manaCurrent,
  .magic1:hover .manaMax {
    -webkit-transform: rotateZ(330deg) scale(100%);
    transform: rotateZ(330deg) scale(100%);
  }
  
  .magic2 {
    -webkit-transform: rotate(70deg) translate(6%,0);
    transform: rotate(70deg) translate(6%,0);
  }
  
  .magic2:hover {
    cursor: pointer;
    background: hsl( var(--s-hs-air) var(--l-50)) !important;
  }
  
  .magic2 .magicType {
    background-color: hsl( var(--s-hs-air) var(--l-50));
  }
  
  .magic2:hover .magicPoints,
  .magic2:hover .manaCurrent,
  .magic2:hover .manaMax {
    -webkit-transform: rotateZ(290deg) scale(100%);
    transform: rotateZ(290deg) scale(100%);
  }
  
  .magic3 {
    -webkit-transform: rotate(110deg) translate(6%,0);
    transform: rotate(110deg) translate(6%,0);
  }
  
  .magic3:hover {
    cursor: pointer;
    background: hsl( var(--s-hs-fire) var(--l-50)) !important;
  }
  
  .magic3 .magicType {
    background-color: hsl( var(--s-hs-fire) var(--l-50));
  }
  
  .magic3:hover .magicPoints,
  .magic3:hover .manaCurrent,
  .magic3:hover .manaMax {
    -webkit-transform: rotateZ(250deg) scale(100%);
    transform: rotateZ(250deg) scale(100%);
  }
  
  .magic4 {
    -webkit-transform: rotate(150deg) translate(6%,0);
    transform: rotate(150deg) translate(6%,0);
  }
  
  .magic4:hover {
    cursor: pointer;
    background: hsl( var(--s-hs-stone) var(--l-50)) !important;
  }
  
  .magic4 .magicType {
    background-color: hsl( var(--s-hs-stone) var(--l-50));
  }
  
  .magic4:hover .magicPoints,
  .magic4:hover .manaCurrent,
  .magic4:hover .manaMax {
    -webkit-transform: rotateZ(210deg) scale(100%);
    transform: rotateZ(210deg) scale(100%);
  }
  
  .magic5 {
    -webkit-transform: rotate(190deg) translate(6%,0);
    transform: rotate(190deg) translate(6%,0);
  }
  
  .magic5:hover {
    cursor: pointer;
    background: hsl( var(--s-hs-plantlife) var(--l-50)) !important;
  }
  
  .magic5 .magicType {
    background-color: hsl( var(--s-hs-plantlife) var(--l-50));
  }
  
  .magic5:hover .magicPoints,
  .magic5:hover .manaCurrent,
  .magic5:hover .manaMax {
    -webkit-transform: rotateZ(170deg) scale(100%);
    transform: rotateZ(170deg) scale(100%);
  }
  
  .magic6 {
    -webkit-transform: rotate(230deg) translate(6%,0);
    transform: rotate(230deg) translate(6%,0);
  }
  
  .magic6:hover {
    cursor: pointer;
    background: hsl( var(--s-hs-tremor) var(--l-50)) !important;
  }
  
  .magic6 .magicType {
    background-color: hsl( var(--s-hs-tremor) var(--l-50));
  }
  
  .magic6:hover .magicPoints,
  .magic6:hover .manaCurrent,
  .magic6:hover .manaMax {
    -webkit-transform: rotateZ(130deg) scale(100%);
    transform: rotateZ(130deg) scale(100%);
  }
  
  .magic7 {
    -webkit-transform: rotate(270deg) translate(6%,0);
    transform: rotate(270deg) translate(6%,0);
  }
  
  .magic7:hover {
    cursor: pointer;
    background: hsl( var(--s-hs-lightning) var(--l-50)) !important;
  }
  
  .magic7 .magicType {
    background-color: hsl( var(--s-hs-lightning) var(--l-50));
  }
  
  .magic7:hover .magicPoints,
  .magic7:hover .manaCurrent,
  .magic7:hover .manaMax {
    -webkit-transform: rotateZ(90deg) scale(100%);
    transform: rotateZ(90deg) scale(100%);
  }
  
  .magic8 {
    -webkit-transform: rotate(310deg) translate(6%,0);
    transform: rotate(310deg) translate(6%,0);
  }
  
  .magic8:hover {
    cursor: pointer;
    background: hsl( var(--s-hs-gravity) var(--l-50)) !important;
  }
  
  .magic8 .magicType {
    background-color: hsl( var(--s-hs-gravity) var(--l-50));
  }
  
  .magic8:hover .magicPoints,
  .magic8:hover .manaCurrent,
  .magic8:hover .manaMax {
    -webkit-transform: rotateZ(50deg) scale(100%);
    transform: rotateZ(50deg) scale(100%);
  }
  
  .magic9 {
    -webkit-transform: rotate(350deg) translate(6%,0);
    transform: rotate(350deg) translate(6%,0);
  }
  
  .magic9:hover {
    cursor: pointer;
    background: hsl( var(--s-hs-mind) var(--l-50)) !important;
  }
  
  .magic9 .magicType {
    background-color: hsl( var(--s-hs-mind) var(--l-50));
  }
  
  .magic9:hover .magicPoints,
  .magic9:hover .manaCurrent,
  .magic9:hover .manaMax {
    -webkit-transform: rotateZ(10deg) scale(100%);
    transform: rotateZ(10deg) scale(100%);
  }
  
  .magicCorePoints {
    -webkit-clip-path: unset !important;
    clip-path: unset !important;
    mix-blend-mode: normal !important;
    background: unset;
    opacity: 100%;
  }
  
  .nonagram.open .magicCorePoints {
    z-index: 0 !important;
  }
  
  .magicCorePoints .magicPoints {
    margin-block: 12.5%;
    margin-inline: 35%;
    background: hsl( var(--p-hs) var(--l-70) );
    -webkit-transform: scale(100%);
    transform: scale(100%);
  }
  
  .magicCorePoints .magicPoints input {
    margin-top:  -0.1em;
    transition: 1s;
  }
  
  .magicCorePoints .magicPoints h3 {
    font-size: 1.5em;
    margin-top: -0.5em;
    transition: 1s;
  }
  
  .nonagram.open .magicCorePoints .magicPoints input {
    font-size: 5em;
    margin-top: 0;
  }
  
  .nonagram.open .magicCorePoints .magicPoints h3 {
    font-size: 3em;
    margin-top: 0.5em;
  }
  
  /* =Info Box= */
  
  .infoBox {
    display: flex;
    width: 80%;
    aspect-ratio: 2/1;
    margin-top: -6px;
  }
  
  .healthBoxLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    transform: translate(50%, -50%);
    z-index: 4;
  }

  .healthBoxLeft .h1Desc {
    margin-top: 3em;
  }
  
  .healthCurrent {
    height: 50%;
    overflow: hidden;
  }
  
  .healthCurrent input {
    margin-top: 2em;
    width: 100%;
    text-align: center;
  }
  
  .h1Desc {
    height: 50%;
    text-align: center;
  }
  
  .jumpBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 87%;
    -webkit-transform: translate(-10%,15%);
    transform: translate(-10%,15%);
    overflow: hidden;
  }
  
  .runBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 87%;
    -webkit-transform: translate(10%,15%);
    transform: translate(10%,15%);
    overflow: hidden;
  }
  
  .jumpHeightBox,
  .fallHeightBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-left: auto;
    height: 25%;
  }
  
  .movementSpeedBox,
  .carryWeightBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-right: auto;
    height: 25%;
  }
  
  .jumpHeight,
  .fallHeight,
  .movementSpeed,
  .carryWeight {
    height: 50%;
  }
  
  .healthBoxRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
  }

  .healthBoxRight .h1Desc {
    margin-top: 3em;
  }
  
  .healthMax {
    height: 50%;
    overflow: hidden;
  }
  
  .healthMax input {
    width: 100%;
    margin-top: 2em;
  }
  
  /* ====Dividers==== */
  
  .walletCorner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 30%;
    width: 39.75%;
    height: 29%;
    aspect-ratio: 1/1;
    outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
    outline-offset: -6px;
    overflow: hidden;
    background: linear-gradient(135deg, rgba(31,34,18,0.4) 0%, rgba(115,110,110,1) 60%);
    -webkit-transform: rotate(45deg) translate(50%,calc(50% - 1px));
    transform: rotate(45deg) translate(50%,calc(50% - 1px));
    z-index: -1;
  }
  
  .walletCorner .divider {
    width: 3px;
    height: 150%;
    outline: 2px solid hsl(var(--p-hs-gold) var(--l-70));
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .healthBoxLeft .divider,
  .healthBoxRight .divider,
  .jumpBox .divider,
  .runBox .divider {
    width: 100%;
    height: 0%;
    outline: 1px solid hsl(var(--p-hs-gold) var(--l-70));
    outline-offset: 0.5px;
    -webkit-transform: translate(0,-4px);
    transform: translate(0,-4px);
  }
  
  
  /* ==Stats Box== */
  
  .containerInner {
    display: grid;
    grid-template-rows: 1fr 9fr 1fr;
    grid-template-columns: 1fr 9fr 1fr;
    height: 40%;
    width: 40%;
    margin-bottom: -5%;
    -webkit-transform: translateX(-30%) rotate(45deg);
    transform: translateX(-30%) rotate(45deg);
    aspect-ratio: 1/1 !important;
    transition: 0.5s ease-in-out;
  }
  
  .containerInner:hover {
    cursor: pointer;
    -webkit-transform: translateX(-30%) rotate(720deg);
    transform: translateX(-30%) rotate(720deg);
  }
  
  .corePoints {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1 !important;
    overflow: hidden;
    outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
    border-radius: 50%;
    outline-offset: -6px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: radial-gradient(ellipse, hsl(var(--s-hs-mind) var(--l-50)) 25%, rgba(190,200,195,0.9) 75%);
    transition: 1s ease-in-out;
  }
  
  .containerInner:hover .corePoints {
    -webkit-transform: rotate(-720deg);
    transform: rotate(-720deg);
  }
  
  .statsHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    position: absolute;
    height: 150%;
    width: 148%;
    margin-inline: auto;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(45deg) translate(-7%,-50%);
    transform: rotate(45deg) translate(-7%,-50%);
    transition: 1s;
  }
  
  .statsBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 5%;
    width: 55%;
    margin-block: 2em;
    background: linear-gradient(110deg, rgba(31,34,18,0.8) 0%, rgba(115,115,115,0.8) 100%);
    outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
    box-shadow: -8px 1px 5px 3px rgba(115,115,115,0.7);
    z-index: 0;
    transition: 1s;
  }
  
  .statsBox.open {
    background: transparent;
    outline: 6px double transparent;
    box-shadow: -8px 1px 5px 3px transparent;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: rotate(90deg) translate(0,450%);
    transform: rotate(90deg) translate(0,450%);
    z-index: 4;
  }
  
  .statsBox.open .attrName {
    -webkit-transform: rotate(-90deg) translate(0,-175%);
    transform: rotate(-90deg) translate(0,-175%);
  }
  
  .statsBox.open .attrPoints {
    -webkit-transform: rotate(-90deg) translate(-40%,-325%);
    transform: rotate(-90deg) translate(-40%,-325%);
  }
  
  .statsBox.open .skillBox {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-inline: -45%;
    background: linear-gradient(110deg, rgba(31,34,18,0.8) 0%, rgba(115,115,115,0.8) 100%);
    outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
    box-shadow: -8px 1px 5px 3px rgba(115,115,115,0.7);
    -webkit-transform: rotate(-90deg) translate(46%,0);
    transform: rotate(-90deg) translate(46%,0);
    z-index: 4;
  }
  
  .statsBox.open .skillBox:hover {
    cursor: pointer;
    width: 100% !important;
    height: 600% !important;
    -webkit-transform: rotate(-90deg) translate(46%,0);
    transform: rotate(-90deg) translate(46%,0);
    margin-inline: -20%;
  }
  
  .statsBox.open .skillBox:hover ~ .skillBox {
    -webkit-transform: rotate(-90deg) translate(46%,0);
    transform: rotate(-90deg) translate(46%,0);
  }
  
  .statsBox.open .skillHolder {
    width: 30%;
  }
  
  .statsBox.open .skillBox:hover .skillName {
    height: 20%;
  }
  
  .statsBox.open .skillBox:hover .skillDesc {
    display: block;
    background: rgba(255, 255, 255, 0.5);
    border: rgba(100, 100, 100, 0.8);
    border-radius: 0.25em;
  }
  
  .statsBox.open .skillPoints {
    width: 20%;
  }
  
  .statsBox.open .skillBox:hover .skillPoints {
    width: 40%;
  }
  
  .statsBox.open .skillBonus {
    width: 40%;
    height: 100%;
    margin-top: 0%;
    padding: 5%;
  }
  
  .statsBox.open .attrHolder:nth-child(2n) .skillPoints {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  
  .statsBox.open .skillBox:hover .skillBonus {
    width: 25%;
    height: 18%;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  
  .statsBox.open .skillMastery,
  .statsBox.open .skillFlat {
    display: flex;
    height: 100%;
  }
  
  .statsBox.open .skillBox:hover .skillMastery,
  .statsBox.open .skillBox:hover .skillFlat {
    height: 15% !important;
    margin-left: 0;
  }
  
  .statsBox.open .skillBox:hover .floatDesc {
    display: block;
    height: 10%;
  }
  
  #strengthStatBox .attrPoints,
  #strengthStatBox .skillBonus {
    background: radial-gradient(circle, rgba(200,200,120,0.9) 25%, rgba(200,200,200,0.9) 75%);
  }
  
  #strengthStatBox .skillMastery,
  #strengthStatBox .skillFlat {
    background: radial-gradient(ellipse, rgba(200,200,120,0.9) 0%, rgba(0,0,0,0) 75%);
  }
  
  #dexterityStatBox .attrPoints,
  #dexterityStatBox .skillBonus {
    background: radial-gradient(circle, rgba(120,200,120,0.9) 25%, rgba(200,200,200,0.9) 75%);
  }
  
  #dexterityStatBox .skillMastery,
  #dexterityStatBox .skillFlat {
    background: radial-gradient(ellipse, rgba(120,200,120,0.9) 0%, rgba(0,0,0,0) 75%);
  }
  
  #intelligenceStatBox .attrPoints,
  #intelligenceStatBox .skillBonus {
    background: radial-gradient(circle, rgba(120,160,200,0.9) 25%, rgba(200,200,200,0.9) 75%);
  }
  
  #intelligenceStatBox .skillMastery,
  #intelligenceStatBox .skillFlat {
    background: radial-gradient(ellipse, rgba(120,160,200,0.9) 0%, rgba(0,0,0,0) 75%);
  }
  
  .infoButton {
    display: flex;
    justify-content: center;
    width: 3em;
    height: 3em;
    aspect-ratio: 1/1 !important;
    border: unset;
    -webkit-transform: translate(0.5em,1em);
    transform: translate(0.5em,1em);
    background: transparent;
    z-index: 7;
  }
  
  .triBlock1,
  .triBlock2,
  .triBlock3 {
    position: absolute;
    width: 0;
    height: 0;
    position: inherit;
    inset: 2px;
    border-style: solid;
    border-width: 0 1em calc(1.732 * 1em) 1em;
    border-color: transparent transparent hsl(10,100%,40%) transparent;
    mix-blend-mode: multiply;
    transition: 0.5s;
  }
  
  .triBlock1 {
    -webkit-transform: translate(calc(100% - 3px),0) rotate(0deg);
    transform: translate(calc(100% - 3px),0) rotate(0deg);
  }
  
  .infoButton:hover .triBlock1 {
    -webkit-transform: translate(calc(100% - 4px),0) rotate(300deg);
    transform: translate(calc(100% - 4px),0) rotate(300deg);
    transition: 1s;
  }
  
  .triBlock2 {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
  
  .infoButton:hover .triBlock2 {
    -webkit-transform: translate(-1px,-2px) rotate(340deg);
    transform: translate(-1px,-2px) rotate(340deg);
    transition: 1s;
  }
  
  .triBlock3 {
    -webkit-transform: translate(calc(-100% + 2px),3px) rotate(80deg);
    transform: translate(calc(-100% + 2px),3px) rotate(80deg);
  }
  
  .infoButton:hover .triBlock3 {
    -webkit-transform: translate(calc(-100% + 2px),-2px) rotate(380deg);
    transform: translate(calc(-100% + 2px),-2px) rotate(380deg);
    transition: 1s;
  }
  
  .attrName {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.01);
    cursor: pointer;
    width: 15%;
    height: 100%;
    border-radius: 3em;
    -webkit-transform: translate(-10%,-60%) scale(150%);
    transform: translate(-10%,-75%) scale(150%);
    z-index: 6;
    overflow: hidden;
    transition: 1s;
  }

  .attrName:hover {
    background: rgba(255,255,255,0.25);
  }
  
  .attrBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: -15%;
    z-index: 0;
    transition: 1s;
  }
  
  .attrHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 0%;
    z-index: 5;
    transition: 1s;
  }
  
  .skillBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    transition: 1s;
  }
  
  .skillHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s;
  }
  
  .skillBox:hover .skillHolder {
    width: 60%;
  }
  
  .skillName {
    height: 100%;
    margin-inline: 0;
    margin-block: 2.5%;
    transition: 1s;
    background: rgba(255,255,255,0.01);
    border-radius: 2em;
    cursor: pointer;
    overflow: hidden;
    z-index: 4;
  }

  .skillName:hover {
    background: rgba(255,255,255,0.1);
  }
  
  .skillName h2 {
    color: hsl( var(--p-hs) var(--l-black));
    margin-block: 0.3em;
    font-size: 2em;
  }
  
  .skillDesc {
    display: none;
    height: 80%;
    width: 100%;
    overflow: hidden;
    transition: 1s 0.1s;
  }
  
  .skillDesc h6 {
    font-size: 1.6em;
  }
  
  .skillPoints {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .skillBonus {
    display: flex;
    text-align: center;
    width: 30%;
    margin-top: -20%;
    margin-inline: 30%;
    padding: 5%;
    aspect-ratio: 1/1;
    outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
    border-radius: 999px;
    overflow: hidden;
  }
  
  .skillBonus input {
    width: 100%;
    text-align: center;
    font-size: 2em;
  }
  
  .skillMastery,
  .skillFlat {
    display: none;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
    overflow: hidden;
  }
  
  .skillMastery input,
  .skillFlat input {
    font-size: 1.5em;
  }
  
  .floatDesc {
    display: none;
    width: 40%;
    height: 10%;
  }
  
  .floatDesc h6 {
    text-align: center;
    font-size: 1.2em;
  }
  
  .attrPoints {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    aspect-ratio: 1/1 !important;
    outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
    border-radius: 50%;
    outline-offset: -6px;
    overflow: hidden;
    -webkit-transform: translate(0,-45%);
    transform: translate(0,-45%);
    /* -webkit-transform: translate(0,-70%);  
    transform: translate(0,-70%); */
    transition: 1s;
    z-index: 6;
  }
  
  /* .statsBox:hover .attrPoints {
    -webkit-transform: translate(0,-70%) !important;  
    transform: translate(0,-70%) !important;
    transition: 0.25s;
  }
  
  .statsBox:hover + .statsBox .attrPoints {
    -webkit-transform: translate(0,-15%) !important;  
    transform: translate(0,-15%) !important;  
  } */

  .statsBox.open:hover .attrPoints {
    -webkit-transform: rotate(-90deg) translate(-40%,-325%);
    transform: rotate(-90deg) translate(-40%,-325%);
  }  
  
  .attrBonus {
    margin-block: 15%;
    text-align: center;
    height: 20%;
  }
  
  .attrDice {
    text-align: center;
    padding-bottom: 10%;
  }
  
  .skillMastery,
  .skillFlat {
    text-align: center;
    width: 50%;
  }
  
  /* ==Combat Box== */

.combatHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 146%;
  margin-inline: auto;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: rotate(45deg) translate(-7%,-52%);
  transform: rotate(45deg) translate(-7%,-52%);
  z-index: 1;
  transition: 1s;
}

.rollerBox {
  display: grid;
  grid-template-areas:
    "chatMessageDisplay chatMessageDisplay chatMessageDisplay"
    "armorBonusDisplay rollerDisplay shieldBonusDisplay"
    "masteryBounusDisplay rollerDisplay weaponBonusDisplay"
    "racialBonusDisplay rollerDisplay weaponMagicDisplay"
    "extraInfoDisplay extraInfoDisplay extraInfoDisplay";
  gap: 1.5em;
  margin-inline: auto;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.7) 0%,
    rgba(100, 100, 100, 0) 70%
  );
  border-radius: 2em;
}

.chatMessageDisplay {
  grid-area: chatMessageDisplay;
  width: 50%;
  height: 50%;
  justify-self: center;
  align-self: end;
  outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
  outline-offset: -6px;
  border-radius: 0.5em;
  background: white;
}

.chatMessageDisplay input {
  all: unset;
  font-size: 1.8em;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  margin-top: 6px;
  margin-inline: 6px;
  padding-inline: 0.5em;
}

.chatMessageDisplay button {
  all: unset;
  cursor: pointer;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 30%;
  height: 80%;
  margin-inline: 35%;
  outline: 2px solid hsl(var(--p-hs-gold) var(--l-70));
  outline-offset: -1px;
  border-radius: 0.5em;
  box-shadow: -10px -10px 15px rgba(255,255,255,0.5), 10px 10px 15px rgba(70,70,70,0.12);
  background: linear-gradient(110deg, rgba(31,34,18,0.8) 0%, rgba(115,115,115,0.8) 100%);
  z-index: 1;
}

.chatMessageDisplay button:active {
  box-shadow: -10px -10px 15px rgba(255,255,255,0.5), 10px 10px 15px rgba(70,70,70,0.12),
 inset -10px -10px 15px rgba(255,255,255,0.5), inset 10px 10px 15px rgba(70,70,70,0.12);
    ;
}

.rollerDisplay {
  grid-area: rollerDisplay;
  width: 30em;
  height: 30em;
  margin: -50%;
  aspect-ratio: 1/1;
  justify-self: center;
  align-self: center;
  outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
  outline-offset: -6px;
  border-radius: 1em;
  background: radial-gradient(circle, rgba(100,100,100,0.7) 10%, rgba(255,255,255,0.9) 100%);
}

.rollerDisplay h1 {
  height: 80%;
  width: 100%;
  margin-top: 10%;
  text-align: center;
  font-size: 16em;
}

.armorBonusDisplay {
  grid-area: armorBonusDisplay;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 80%;
  align-self: center;
  outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
  outline-offset: -6px;
  border-radius: 0.5em;
  background: linear-gradient(90deg, rgba(255,255,255,0.9) 0%, rgba(100,100,100,0.7) 90%);
  -webkit-transform: skew(-30deg) translateX(35%);
  transform: skew(-30deg) translateX(35%);
  opacity: 50%;
}

.armorBonusDisplay.show {
  opacity: 100% !important;
}

.armorBonusDisplay:after {
  display: inline-block;
  position: relative;
  width: auto;
  font-family: "Font Awesome 6 Free";
  content: "\f553";
  font-size: 3em;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
  opacity: 50%;
}

.armorBonusDisplay h2 {
  width: 80%;
  height: 50%;
  font-size: 3.5em;
  margin: 0;
  text-align: center;
  margin-block: auto;
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
}

.masteryBounusDisplay {
  grid-area: masteryBounusDisplay;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 120%;
  justify-self: center;
  align-self: center;
  outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
  outline-offset: -6px;
  border-radius: 0.5em;
  background: linear-gradient(90deg, rgba(255,255,255,0.9) 0%, rgba(100,100,100,0.7) 90%);
  -webkit-transform: translateX(35%);
  transform: translateX(35%);
  opacity: 50%;
}

.masteryBounusDisplay.show {
  opacity: 100% !important;
}

.masteryBounusDisplay:after {
  display: inline-block;
  position: relative;
  width: auto;
  padding-left: 0.25em;
  font-family: "Font Awesome 6 Free";
  content: "\f02d";
  font-size: 3em;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  opacity: 50%;
}

.masteryBounusDisplay h2 {
  width: 84%;
  height: 50%;
  font-size: 3.5em;
  margin: 0;
  text-align: center;
  margin-block: auto;
}

.racialBonusDisplay {
  grid-area: racialBonusDisplay;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 80%;
  align-self: center;
  outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
  outline-offset: -6px;
  border-radius: 0.5em;
  background: linear-gradient(90deg, rgba(255,255,255,0.9) 0%, rgba(100,100,100,0.7) 90%);
  -webkit-transform: skew(30deg) translateX(35%);
  transform: skew(30deg) translateX(35%);
  opacity: 50%;
}

.racialBonusDisplay.show {
  opacity: 100% !important;
}

.racialBonusDisplay:after {
  display: inline-block;
  position: relative;
  width: auto;
  font-family: "Font Awesome 6 Free";
  content: "\f1b0";
  font-size: 3em;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
  opacity: 50%;
}

.racialBonusDisplay h2 {
  width: 80%;
  height: 50%;
  font-size: 3.5em;
  margin: 0;
  text-align: center;
  margin-block: auto;
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
}

.shieldBonusDisplay {
  grid-area: shieldBonusDisplay;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 80%;
  align-self: center;
  outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
  outline-offset: -6px;
  border-radius: 0.5em;
  background: linear-gradient(90deg, rgba(100,100,100,0.7) 10%, rgba(255,255,255,0.9) 100%);
  -webkit-transform: skew(30deg) translateX(-35%);
  transform: skew(30deg) translateX(-35%);
  opacity: 50%;
}

.shieldBonusDisplay.show {
  opacity: 100% !important;
}

.shieldBonusDisplay:before {
  display: inline-block;
  position: relative;
  width: auto;
  font-family: "Font Awesome 6 Free";
  content: "\f3ed";
  font-size: 3em;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
  opacity: 50%;
}

.shieldBonusDisplay h2 {
  width: 80%;
  height: 50%;
  font-size: 3.5em;
  margin: 0;
  text-align: center;
  margin-block: auto;
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
}

.weaponBonusDisplay {
  grid-area: weaponBonusDisplay;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 120%;
  justify-self: center;
  align-self: center;
  outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
  outline-offset: -6px;
  border-radius: 0.5em;
  background: linear-gradient(90deg, rgba(100,100,100,0.7) 10%, rgba(255,255,255,0.9) 100%);
  -webkit-transform: translateX(-35%);
  transform: translateX(-35%);
  opacity: 50%;
}

.weaponBonusDisplay.show {
  opacity: 100% !important;
}

.weaponBonusDisplay:before {
  display: inline-block;
  position: relative;
  width: auto;
  font-family: "Font Awesome 6 Free";
  content: "\f6e3";
  font-size: 3em;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  opacity: 50%;
}

.weaponBonusDisplay h2 {
  width: 84%;
  height: 50%;
  font-size: 3.5em;
  margin: 0;
  text-align: center;
  margin-block: auto;
}

.weaponMagicDisplay {
  grid-area: weaponMagicDisplay;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 80%;
  align-self: center;
  outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
  outline-offset: -6px;
  border-radius: 0.5em;
  background: linear-gradient(90deg, rgba(100,100,100,0.7) 10%, rgba(255,255,255,0.9) 100%);
  -webkit-transform: skew(-30deg) translateX(-35%);
  transform: skew(-30deg) translateX(-35%);
  opacity: 50%;
}

.weaponMagicDisplay.show {
  opacity: 100% !important;
}

.weaponMagicDisplay:before {
  display: inline-block;
  position: relative;
  width: auto;
  font-family: "Font Awesome 6 Free";
  content: "\f72b";
  font-size: 3em;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
  opacity: 50%;
}

.weaponMagicDisplay h2 {
  width: 80%;
  height: 50%;
  font-size: 3.5em;
  margin: 0;
  text-align: center;
  margin-block: auto;
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
}

.extraInfoDisplay {
  grid-area: extraInfoDisplay;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
  justify-self: center;
  align-self: start;
  outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
  outline-offset: -6px;
  border-radius: 0.5em;
  background: white;
  opacity: 50%;
  overflow-x: auto;
  overflow-y: hidden;
}

.extraInfoDisplay.show {
  opacity: 100% !important;
}

.extraInfoDisplay h3 {
  all: unset;
  font-size: 2.8em;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  margin-top: 0;
  margin-bottom: -0.5e3;
  margin-inline: 6px;
  padding-inline: 0.5em;
}