/* =====================
=========Global=========
===================== */

:root {
  /* ==Palette== */
    --n-hs: 0 0%;
    --p-hs: var(--n-hs);
  
    --p-hs-forest: 86 51%;
    --p-hs-grass:  83 40%;
    --p-hs-gold:   46 74%;
    --p-hs-blood:   6 84%;
    --p-hs-light:  42 68%;
  
    --s-hs-water:     227 90%;
    --s-hs-air:       111 90%;
    --s-hs-fire:       14 90%;
    --s-hs-stone:      44 90%;
    --s-hs-plantlife: 304 90%;
    --s-hs-tremor:     57 90%;
    --s-hs-lightning: 195 90%;
    --s-hs-gravity:   280 90%;
    --s-hs-mind:      160 90%;
  
    /* ==How to set varying colors:
  
  .exampleClass {
    --p-hs: var(--p-hs-SPECIFIC);
  } */
  
    --l-black:   0%;
    --l-5:       5%;
    --l-10:     10%;
    --l-20:     20%;
    --l-30:     30%;
    --l-50:     50%;
    --l-70:     70%;
    --l-85:     85%;
    --l-white: 100%;
    
    --primary-l:   var(--l-black);
    --secondary-l: var(--l-50);
    --tertiary-l: var(--l-30);
    --background-l: var(--l-30);
    
  /* ==Extras== */
  
    --hp-percent: 100%;
    --vp-ratio: calc(1vw / 1vh);
    --header-height-MN: 457.584;
    --header-height: calc(var(--vp-ratio) * var(--header-height-MN))%;
    --scroll-depth: 0;
    --scroll-menu-margin: calc(var(--scroll-depth) / 384.79998779296875);
  
    margin: 0;
    inset: 0 0 0 0;
  }
  
  @media (color-scheme: dark) {
    :root {
    --primary-l: var(--l-white);
    }
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: hsl( var(--p-hs) var(--l-70) );
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: hsl( var(--p-hs) var(--l-30) );
    border: 2px solid hsl( var(--p-hs) var(--l-30) );
    -webkit-border-radius: 20px;
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-button {
    display:none;
  }
  
  /* =====================
  =======Typography=======
  ===================== */
  
  :root {
    --step--2: clamp(0.78rem, calc(0.68rem + 0.50vw), 1.04rem);
    --step--1: clamp(0.94rem, calc(0.80rem + 0.71vw), 1.30rem);
    --step-0: clamp(1.13rem, calc(0.93rem + 0.98vw), 1.63rem);
    --step-1: clamp(1.35rem, calc(1.08rem + 1.33vw), 2.03rem);
    --step-2: clamp(1.62rem, calc(1.26rem + 1.79vw), 2.54rem);
    --step-3: clamp(1.94rem, calc(1.46rem + 2.40vw), 3.17rem);
    --step-4: clamp(2.2rem, calc(1.8rem + 3vw), 3.6rem);
  }
  
  input {
    all: unset;
    text-align: center;
    font-size: var(--step-4);
    text-shadow: 0px 0px 2px hsl( var(--p-hs) var(--l-50) );
    color: hsl( var(--p-hs) var(--l-black) );
    margin: 0;
  }
  
  button {
    all: unset;
    font-family:'Trebuchet MS';
    font-size: var(--step-1);
    text-shadow: 0px 0px 2px hsl( var(--p-hs) var(--l-50) );
    color: hsl( var(--p-hs) var(--l-black) );
    margin: 0;
  }
  
  h1 {
    font-family:'Trebuchet MS';
    font-size: var(--step-3);
    text-shadow: 0px 0px 2px hsl( var(--p-hs) var(--l-50) );
    color: hsl( var(--p-hs) var(--l-black) );
    margin: 0;
  }
  
  h2 {
    font-family:'Trebuchet MS';
    font-size: var(--step-2);
    text-shadow: 0px 0px 2px hsl( var(--p-hs) var(--l-50) );
    color: hsl( var(--p-hs) var(--l-10) );
    margin: 0;
  }
  
  h3 {
    font-family:'Trebuchet MS';
    font-size: var(--step-1);
    text-shadow: 0px 0px 2px hsl( var(--p-hs) var(--l-50) );
    color: hsl( var(--p-hs) var(--l-10) );
    margin: 0;
  }
  
  h4 {
    font-family:'Trebuchet MS';
    font-size: var(--step-0);
    text-shadow: 0px 0px 2px hsl( var(--p-hs) var(--l-50) );
    color: hsl( var(--p-hs) var(--l-5) );
    margin: 0;
  }
  
  h5 {
    font-family:'Trebuchet MS';
    font-size: var(--step--1);
    text-shadow: 0px 0px 2px hsl( var(--p-hs) var(--l-50) );
    color: hsl( var(--p-hs) var(--l-black) );
    margin: 0;
  }
  
  h6 {
    font-size: var(--step--2);
    text-shadow: 0px 0px 2px hsl( var(--p-hs) var(--l-50) );
    color: hsl( var(--p-hs) var(--l-black) );
    margin: 0;
  }
  
  /* =====================
  =========Layout=========
  ===================== */
  
  body {
    margin: 0;
    overflow: hidden;
  }
  
  /* ==Header== */
  
  .header {
    z-index: -1;
    overflow: hidden;
  }
  
  .background {
    position: absolute;
    width: 100%;
    height: 100vh;
  }

  .background:nth-child(1) {
    background-image: url(images/Mountain.png);
    background-position: center center;
    background-size: cover;
  }
  
  .background:nth-child(2) {
    background-image: url(images/Hills.png);
    background-position: center center;
    background-size: cover;
    -webkit-transform: translate(0,calc(10vh - calc(10vh * var(--scroll-depth))));
    transform: translate(0,calc(10vh - calc(10vh * var(--scroll-depth))));
  }
  
  .background:nth-child(3) {
    background-image: url(images/Forest.png);
    background-position: center center;
    background-size: cover;
    mix-blend-mode: multiply;
    -webkit-transform: translate(0,calc(60vh - calc(80vh * var(--scroll-depth))));
    transform: translate(0,calc(60vh - calc(80vh * var(--scroll-depth))));
  }
  
  .background:nth-child(4) {
    background-image: url(images/Brook.png);
    background-position: center center;
    background-size: cover;
    mix-blend-mode: multiply;
    -webkit-transform: translate(0,calc(35vh - calc(40vh * var(--scroll-depth))));
    transform: translate(0,calc(35vh - calc(40vh * var(--scroll-depth))));
  }
  
  .background:nth-child(5) {
    background-image: url(images/Path.png);
    background-position: center center;
    background-size: cover;
    -webkit-transform: translate(0,calc(60vh - calc(70vh * var(--scroll-depth))));
    transform: translate(0,calc(60vh - calc(70vh * var(--scroll-depth))));
  }
  
  @media (min-width: 1000px) {
    .background:nth-child(2) {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    }
    .background:nth-child(3) {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    }
    .background:nth-child(4) {
      -webkit-transform: translate(0,0);
      transform: translate(0,0);
    }
    .background:nth-child(5) {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    }
  }

  /* ====Sheet==== */
  
  .wrapper {
    position: relative;
    -webkit-perspective: 10px;
    perspective: 10px;
    inset: 0;
  }

  @media (min-width: 1200px) {
    .wrapper {
      display: flex;
      justify-content: center;
    }
  }

  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    inset: 0;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
  }
  
  @media (min-width: 1000px) {
    .main {
      gap: 5%;
      justify-content: space-around;
    }
  }

  @media (min-width: 1200px) {
    .main {
      gap: 20%;
      padding-inline: 20%;
      scroll-snap-type: unset;
    }
  }

  .diamond {
    aspect-ratio: 1/1;
    background: linear-gradient(110deg, rgba(247, 236, 212, 0.3) 0%, rgba(115,115,115,0.7) 100%);
    outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
    outline-offset: -6px;
    box-shadow: -8px 2px 5px 4px rgba(115,115,115,0.7);
  }

  /* ==Menu Box== */

  .menuBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;;
    height: 0;
    width: 100%;
    background: none;
    position: sticky;
    top: -20vh;
    z-index: 8;
  }
  
  @media (min-width: 1000px) {
    .menuBox {
      top: -5vh;
    }
  }

  .menu:nth-child(1) {
    width: 35%;
    /* background: green !important; */
    justify-self: start;
    align-self: start;
    -webkit-transform: translate(-2em,30vh) rotate(45deg);
    transform: translate(-2em,25vh) rotate(45deg);
    /* opacity: 0%; */
  }
  
  @media (min-width: 1000px) {
    .menu:nth-child(1) {
      width: 25%;
      -webkit-transform: translate(0,0) rotate(45deg);
      transform: translate(0,0) rotate(45deg);
    }
  }
  
  @media (min-width: 1200px) {
    .menu:nth-child(1) {
      width: 25%;
      -webkit-transform: translate(-10em,0) rotate(45deg);
      transform: translate(-10em,0) rotate(45deg);
    }
  }

  .menu:nth-child(2) {
    width: 35%;
    /* background: blue !important; */
    justify-self: end;
    align-self: start;
    -webkit-transform: translate(2em,30vh) rotate(45deg);
    transform: translate(2em,25vh) rotate(45deg);
    /* opacity: 0%; */
  }
  
  @media (min-width: 1000px) {
    .menu:nth-child(2) {
      width: 25%;
      -webkit-transform: translate(0,0) rotate(45deg);
      transform: translate(0,0) rotate(45deg);
    }
  }
  
  @media (min-width: 1200px) {
    .menu:nth-child(2) {
      width: 25%;
      -webkit-transform: translate(10em,0) rotate(45deg);
      transform: translate(10em,0) rotate(45deg);
    }
  }

  .menu:nth-child(3) {
    width: 35%;
    /* background: red !important; */
    justify-self: start;
    align-self: end;
    -webkit-transform: translate(-2em,95vh) rotate(-45deg);
    transform: translate(-2em,95vh) rotate(-45deg);
    opacity: 0%;
  }
  
  @media (min-width: 1000px) {
    .menu:nth-child(3) {
      width: 25%;
      -webkit-transform: translate(0,80vh) rotate(-45deg);
      transform: translate(0,80vh) rotate(-45deg);
    }
  }
  
  @media (min-width: 1200px) {
    .menu:nth-child(3) {
      -webkit-transform: translate(-14em,80vh) rotate(-45deg);
      transform: translate(-14em,80vh) rotate(-45deg);
    }
  }

  .menu:nth-child(4) {
    width: 35%;
    /* background: purple !important; */
    justify-self: end;
    align-self: end;
    -webkit-transform: translate(2em,95vh) rotate(-45deg);
    transform: translate(2em,95vh) rotate(-45deg);
    opacity: 0%;
  }
  
  @media (min-width: 1000px) {
    .menu:nth-child(4) {
      width: 25%;
      -webkit-transform: translate(0,calc(100vh - 21em)) rotate(-45deg);
      transform: translate(0,calc(100vh - 21em)) rotate(-45deg);
    }
  }
  
  @media (min-width: 1200px) {
    .menu:nth-child(4) {
      -webkit-transform: translate(14em,calc(100vh - 20em)) rotate(-45deg);
      transform: translate(14em,calc(100vh - 20em)) rotate(-45deg);
    }
  }

  /* ==Menus== */

  /* Login Menu */

  .menu[saveMenu] {
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 4;
  }
  
  .menu[saveMenu] .loginMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 141.42%;
    width: 0vw;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    box-shadow: none;
    -webkit-transform: translate(0,0) rotate(-45deg);
    transform: translate(0,0) rotate(-45deg);
    transition: height 0.25s ease-in, width 0.25s 0.25s ease-out;
  }
  
  .menu[saveMenu]:hover .loginMenu {
    width: 88.25vw;
    height: 93.5vh;
    background: linear-gradient(110deg, rgba(82, 116, 37, 0.6) 0%, rgba(115,115,115,1) 100%);
    transition: width 0.25s ease-in, height 0.25s 0.25s ease-out;
  }
  
  @media (min-width: 1000px) {
    .menu[saveMenu]:hover .loginMenu {
      width: 78.5vw;
    }
  }
  
  .infoSymbol {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: 1s;
  }
  
  .menu[saveMenu]:hover .infoSymbol {
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  
  .infoButtonCircle {
    width: 10%;
    height: 10%;
    outline-offset: -6px;
    border-radius: 999px;
    background: hsl( var(--p-hs) var(--l-black) );
    box-shadow: 0px 0px 2px 2px hsl(var(--p-hs-gold) var(--l-70));
    mix-blend-mode: multiply;
    transition: 1s;
    margin-bottom: 8%;
  }
  
  .menu[saveMenu]:hover .infoButtonCircle {
    width: 60%;
    height: 10%;
    margin-bottom: 4%;
  }
  
  .infoButtonStick1 {
    width: 8%;
    height: 20%;
    transition: 1s;
    outline-offset: -6px;
    border-radius: 99px 99px 0px 0px;
    background: hsl( var(--p-hs) var(--l-black) );
    box-shadow: 0px 0px 2px 2px hsl(var(--p-hs-gold) var(--l-70));
    mix-blend-mode: multiply;
  }
  
  .menu[saveMenu]:hover .infoButtonStick1 {
    width: 60%;
    height: 10%;
    border-radius: 99px;
    margin: 4%;
  }
  
  .infoButtonStick2 {
    width: 8%;
    height: 20%;
    transition: 1s;
    outline-offset: -6px;
    border-radius: 0px 0px 99px 99px;
    background: hsl( var(--p-hs) var(--l-black) );
    box-shadow: 0px 0px 2px 2px hsl(var(--p-hs-gold) var(--l-70));
    mix-blend-mode: multiply;
  }
  
  .menu[saveMenu]:hover .infoButtonStick2 {
    width: 60%;
    height: 10%;
    border-radius: 99px;
    margin-top: 4%;
  }

  /* Floating Roller Display */

  .menu[rollerDisplay] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    pointer-events: none;
    z-index: -1;
  }

  .menu[rollerDisplay] h1 {
    font-size: 4em;
    text-shadow: 0px 0px 10px hsl(var(--p-hs-gold) var(--l-70));
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  /* ==Character Name== */

  .characterNameBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    scroll-snap-align: center;
    position: relative;
    width: 80%;
    height: 8em;
    aspect-ratio: unset;
    margin-top: 5em;
    margin-bottom: -45%;
    mix-blend-mode: multiply;
    z-index: 1;
  }

  @media (min-width: 1000px) {
    .characterNameBox {
      width: 50%;
      height: 5em;
      margin-inline: 25%;
      margin-bottom: 0%;
    }
  }

  .characterName {
    width: 100%;
    font-size: 6.5em;
    font-weight: bold;
    font-family: 'Lucida Grande';
    text-align: center;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    margin-bottom: 2px;
    z-index: 3;
  }

  @media (min-width: 1000px) {
    .characterName {
      font-size: 4.5em;
    }
  }

  .rightTri {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    inset-inline-start: 0;
    position: absolute;
    -webkit-transform: translate(-10px, -25%) rotate(-45deg);
    transform: translate(-10px, -25%) rotate(-45deg);
    z-index: -1;
  }
  
  .rightTri h3 {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 85%;
  }

  .leftTri {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    inset-inline-end: 0;
    position: absolute;
    -webkit-transform: translate(10px, -25%) rotate(-45deg);
    transform: translate(10px, -25%) rotate(-45deg);
    z-index: -1;
  }
  
  @media (min-width: 1000px) {
    .rightTri {
      -webkit-transform: translate(-10px, -20%) rotate(-45deg);
      transform: translate(-10px, -20%) rotate(-45deg);
    }
    .rightTri h3 {
      font-size: 1em;
    }
    .leftTri {
      -webkit-transform: translate(10px, -20%) rotate(-45deg);
      transform: translate(10px, -20%) rotate(-45deg);      
    }
  }

  @media (min-width: 1200px) {
    .rightTri h3 {
      font-size: 0.8em;
    }
  }
  
  .container {
    display: grid;
    grid-template-rows: 1fr 18fr 1fr;
    grid-template-columns: 1fr 18fr 1fr;
    aspect-ratio: 1/1;
    scroll-snap-align: center;
    width: 120%;
    margin-top: 60%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .container:nth-child(1) {
    scroll-snap-align: unset !important;
  }
  
  @media (min-width: 1000px) {
    .container {
      width: 35%;
    }

    .container:nth-child(2) {
      -webkit-transform: translate(0,-150%) rotate(-45deg);
      transform: translate(0,-150%) rotate(-45deg);
      z-index: 2;
    }
    
    .container:nth-child(3) {
      -webkit-transform: translate(0,-150%) rotate(-45deg);
      transform: translate(0,-150%) rotate(-45deg);
      z-index: 3;
    }
    
    .container:nth-child(4) {
      -webkit-transform: translate(0,-150%) rotate(-45deg);
      transform: translate(0,-150%) rotate(-45deg);
      z-index: 1;
    }
    
    .container:nth-child(5) {
      -webkit-transform: translate(0,-300%) rotate(-45deg);
      transform: translate(0,-300%) rotate(-45deg);
      z-index: 1;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 40%;
    }
  }
  
  .corner1,
  .corner2,
  .corner3,
  .corner4 {
    background: rgba(115,115,115,0.7);
    outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
    outline-offset: -6px;
  }
  
  .holder {
    background: transparent;
    z-index: 1;
  }
  
  .glass {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    background: linear-gradient(110deg, rgba(31,34,18,0.3) 0%, rgba(115,115,115,0.3) 100%);
    mix-blend-mode: multiply;
    z-index: -1;
  }
  
  
  /* ==Portrait Box== */
  
  /* =Health Bar= */
  
  .healthBox {
    content: "";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 90%;
    height: 90%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    z-index: 1;
  }
  
  .healthBox:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, rgba(255,255,255,1) 5%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%, rgba(255,255,255,1) 95%);
  }
  
  .healthBar {
    width: 150%;
    height: 80%;
    background: rgba(144,33,16,1);
    mix-blend-mode: multiply;
    opacity: 60%;
    -webkit-transform: rotate(45deg) translate(0%,calc(115% - (1.2 * var(--hp-percent))));
    transform: rotate(45deg) translate(0%,calc(115% - (1.2 * var(--hp-percent))));
    transition: 5s 0.5s ease-in-out;
  }
  
  .healthBar svg {
    margin-top: -50%;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     -webkit-transform: translate3d(-90px,0,0);
     transform: translate3d(-90px,0,0);
    }
    100% { 
      -webkit-transform: translate3d(85px,0,0);
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
    .content {
      height:30vh;
    }
    h1 {
      font-size:24px;
    }
  }
  
  /* =Portrait= */
  
  .portraitHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 200%;
    width: 146%;
    background: none;
    overflow: hidden;
    margin-inline: auto;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(45deg) translate(-6.5%,-50%);
    transform: rotate(45deg) translate(-6.5%,-50%);
    z-index: 1;
  }
  
  .portrait {
    width: 40%;
    aspect-ratio: 1/1;
    outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
    outline-offset: -6px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.7) 0%,
      rgba(100, 100, 100, 0.7) 100%
    );
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 2;
  }
  
  /* =Magic Holder= */
  
  .magicHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    margin-top: -10%;
    margin-bottom: -16.5%;
    transition: 1s;
  }
  
  .nonagram {
    height: 100%;
    width: 40%;
    transition: 1s;
    z-index: 3;
  }
  
  .nonagram.open {
    width: 100%;
    margin-top: -40%;
    z-index: 5;
  }
  
  .magicCorner {
    width: inherit;
    position: absolute;
    display: flex;
    background: purple;
    justify-content: start;
    align-items: center;
    -webkit-clip-path: polygon(25% 50%, 37.2% 0%, 70% 35%, 70% 65%, 37.2% 100%);
    clip-path: polygon(25% 50%, 37.2% 0%, 70% 35%, 70% 65%, 37.2% 100%);
    mix-blend-mode: multiply;
    opacity: 30%;
    z-index: 1;
    transition: 1s;
  }
  
  .nonagram.open .magicCorner {
    background: transparent;
    -webkit-clip-path: polygon(5% 50%, 20% 35%, 30% 41.5%, 30% 58.5%, 20% 65%);
    clip-path: polygon(5% 50%, 20% 35%, 30% 41.5%, 30% 58.5%, 20% 65%);
    opacity: 100%;
  }
  
  .magicCorner:hover {
    cursor: pointer;
    -webkit-clip-path: polygon(0% 50%, 37.2% 0%, 70% 35%, 70% 65%, 37.2% 100%) !important;
    clip-path: polygon(0% 50%, 37.2% 0%, 70% 35%, 70% 65%, 37.2% 100%) !important;
  }
  
  .nonagram.open .magicCorner:hover {
    cursor: pointer;
    z-index: 5 !important;
    mix-blend-mode: normal;
  }
  
  .magicType {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 25%;
    padding-top: 18%;
    padding-bottom: 2%;
    text-align: center;
    outline: 2px solid hsl(var(--p-hs-gold) var(--l-70));
    outline-offset: -4px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: 1s; 
  }
  
  .magicType h3 {
    -webkit-transform: scale(0%);
    transform: scale(0%);
    transition: 1s 0.25s;
  }
  
  .magicBox {
    width: 45%;
    padding-block: 5%;
    padding-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .magicBoxTop {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transform: translate(6.6625%,0.0625%);
    transform: translate(6.6625%,0.0625%);
    z-index: 5;
  }
  
  .manaCurrent,
  .manaMax,
  .magicPoints {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    aspect-ratio: 1/1 !important;
    overflow: hidden;
    outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
    -webkit-border-radius: 50%;
    border-radius: 50%;
    outline-offset: -6px;
    background: radial-gradient(ellipse, rgba(0,0,0,0) 50%, white 100%);
    -webkit-transform: scale(0%);
    transform: scale(0%);
    transition: 1s .25s;
  }

  .magicPoints .magicDesc:hover {
    -webkit-border-radius: 1em;
    border-radius: 1em;
    background: rgba(255,255,255,0.25);
    transition: 0.25s
  }
  
  .magicCorner:hover .magicType h3 {
    -webkit-transform: scale(100%);
    transform: scale(100%);
    transition: 0.25s;
  }
  
  .magicBoxBot {
    width: 50%;
    aspect-ratio: 1/2 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: translate(-6.6625%,-0.0625%);
    transform: translate(-6.6625%,-0.0625%);
  }
  
  .magic1 {
    -webkit-transform: rotate(30deg) translate(6%,0);
    transform: rotate(30deg) translate(6%,0);
  }
  
  .magic1:hover {
    cursor: pointer;
    background: radial-gradient(circle, hsl( var(--s-hs-water) var(--l-30)) 0%, hsl( var(--s-hs-water) var(--l-70)) 100%) !important;
  }
  
  .magic1 .magicType {
    background-color: hsl( var(--s-hs-water) var(--l-50));
  }
  
  .magic1:hover .magicPoints,
  .magic1:hover .manaCurrent,
  .magic1:hover .manaMax {
    -webkit-transform: rotate(330deg) scale(100%);
    transform: rotate(330deg) scale(100%);
  }
  
  .magic2 {
    -webkit-transform: rotate(70deg) translate(6%,0);
    transform: rotate(70deg) translate(6%,0);
  }
  
  .magic2:hover {
    cursor: pointer;
    background: radial-gradient(circle, hsl( var(--s-hs-air) var(--l-30)) 0%, hsl( var(--s-hs-air) var(--l-70)) 100%) !important;
  }
  
  .magic2 .magicType {
    background-color: hsl( var(--s-hs-air) var(--l-50));
  }
  
  .magic2:hover .magicPoints,
  .magic2:hover .manaCurrent,
  .magic2:hover .manaMax {
    -webkit-transform: rotate(290deg) scale(100%);
    transform: rotate(290deg) scale(100%);
  }
  
  .magic3 {
    -webkit-transform: rotate(110deg) translate(6%,0);
    transform: rotate(110deg) translate(6%,0);
  }
  
  .magic3:hover {
    cursor: pointer;
    background: radial-gradient(circle, hsl( var(--s-hs-fire) var(--l-30)) 0%, hsl( var(--s-hs-fire) var(--l-70)) 100%) !important;
  }
  
  .magic3 .magicType {
    background-color: hsl( var(--s-hs-fire) var(--l-50));
  }
  
  .magic3:hover .magicPoints,
  .magic3:hover .manaCurrent,
  .magic3:hover .manaMax {
    -webkit-transform: rotate(250deg) scale(100%);
    transform: rotate(250deg) scale(100%);
  }
  
  .magic4 {
    -webkit-transform: rotate(150deg) translate(6%,0);
    transform: rotate(150deg) translate(6%,0);
  }
  
  .magic4:hover {
    cursor: pointer;
    background: radial-gradient(circle, hsl( var(--s-hs-stone) var(--l-30)) 0%, hsl( var(--s-hs-stone) var(--l-70)) 100%) !important;
  }
  
  .magic4 .magicType {
    background-color: hsl( var(--s-hs-stone) var(--l-50));
  }
  
  .magic4:hover .magicPoints,
  .magic4:hover .manaCurrent,
  .magic4:hover .manaMax {
    -webkit-transform: rotate(210deg) scale(100%);
    transform: rotate(210deg) scale(100%);
  }
  
  .magic5 {
    -webkit-transform: rotate(190deg) translate(6%,0);
    transform: rotate(190deg) translate(6%,0);
  }
  
  .magic5:hover {
    cursor: pointer;
    background: radial-gradient(circle, hsl( var(--s-hs-plantlife) var(--l-30)) 0%, hsl( var(--s-hs-plantlife) var(--l-70)) 100%) !important;
  }
  
  .magic5 .magicType {
    background-color: hsl( var(--s-hs-plantlife) var(--l-50));
  }
  
  .magic5:hover .magicPoints,
  .magic5:hover .manaCurrent,
  .magic5:hover .manaMax {
    -webkit-transform: rotate(170deg) scale(100%);
    transform: rotate(170deg) scale(100%);
  }
  
  .magic6 {
    -webkit-transform: rotate(230deg) translate(6%,0);
    transform: rotate(230deg) translate(6%,0);
  }
  
  .magic6:hover {
    cursor: pointer;
    background: radial-gradient(circle, hsl( var(--s-hs-tremor) var(--l-30)) 0%, hsl( var(--s-hs-tremor) var(--l-70)) 100%) !important;
  }
  
  .magic6 .magicType {
    background-color: hsl( var(--s-hs-tremor) var(--l-50));
  }
  
  .magic6:hover .magicPoints,
  .magic6:hover .manaCurrent,
  .magic6:hover .manaMax {
    -webkit-transform: rotate(130deg) scale(100%);
    transform: rotate(130deg) scale(100%);
  }
  
  .magic7 {
    -webkit-transform: rotate(270deg) translate(6%,0);
    transform: rotate(270deg) translate(6%,0);
  }
  
  .magic7:hover {
    cursor: pointer;
    background: radial-gradient(circle, hsl( var(--s-hs-lightning) var(--l-30)) 0%, hsl( var(--s-hs-lightning) var(--l-70)) 100%) !important;
  }
  
  .magic7 .magicType {
    background-color: hsl( var(--s-hs-lightning) var(--l-50));
  }
  
  .magic7:hover .magicPoints,
  .magic7:hover .manaCurrent,
  .magic7:hover .manaMax {
    -webkit-transform: rotate(90deg) scale(100%);
    transform: rotate(90deg) scale(100%);
  }
  
  .magic8 {
    -webkit-transform: rotate(310deg) translate(6%,0);
    transform: rotate(310deg) translate(6%,0);
  }
  
  .magic8:hover {
    cursor: pointer;
    background: radial-gradient(circle, hsl( var(--s-hs-gravity) var(--l-30)) 0%, hsl( var(--s-hs-gravity) var(--l-70)) 100%) !important;
  }
  
  .magic8 .magicType {
    background-color: hsl( var(--s-hs-gravity) var(--l-50));
  }
  
  .magic8:hover .magicPoints,
  .magic8:hover .manaCurrent,
  .magic8:hover .manaMax {
    -webkit-transform: rotate(50deg) scale(100%);
    transform: rotate(50deg) scale(100%);
  }
  
  .magic9 {
    -webkit-transform: rotate(350deg) translate(6%,0);
    transform: rotate(350deg) translate(6%,0);
  }
  
  .magic9:hover {
    cursor: pointer;
    background: radial-gradient(circle, hsl( var(--s-hs-mind) var(--l-30)) 0%, hsl( var(--s-hs-mind) var(--l-70)) 100%) !important;
  }
  
  .magic9 .magicType {
    background-color: hsl( var(--s-hs-mind) var(--l-50));
  }
  
  .magic9:hover .magicPoints,
  .magic9:hover .manaCurrent,
  .magic9:hover .manaMax {
    -webkit-transform: rotate(10deg) scale(100%);
    transform: rotate(10deg) scale(100%);
  }
  
  .magicCorePoints {
    -webkit-clip-path: unset !important;
    clip-path: unset !important;
    mix-blend-mode: normal !important;
    background: unset;
    opacity: 100%;
  }
  
  .nonagram.open .magicCorePoints {
    z-index: 0 !important;
  }
  
  .magicCorePoints .magicPoints {
    margin-block: 12.5%;
    margin-inline: 35%;
    background: hsl( var(--p-hs) var(--l-70) );
    -webkit-transform: scale(100%);
    transform: scale(100%);
  }
  
  .magicCorePoints .magicPoints h3 {
    font-size: 1.5em;
    margin-top: -0.5em;
    transition: 1s;
  }
  
  .nonagram.open .magicCorePoints .magicPoints input {
    font-size: 5em;
    margin-top: 0;
  }
  
  .nonagram.open .magicCorePoints .magicPoints h3 {
    font-size: 3em;
    margin-top: 0.5em;
  }
  
  @media (min-width: 1000px) {
    .magicBox input {
      font-size: 2.5em;
    }
    .magicBox h3 {
      font-size: 1.25em;
    }
    .magicCorePoints .magicPoints input {
      font-size: 2em;
    }
    .nonagram.open .magicCorePoints .magicPoints input {
      font-size: 3em;
    }
    .magicCorePoints .magicPoints h3 {
      font-size: 1em;
    }
    .nonagram.open .magicCorePoints .magicPoints h3 {
      font-size: 1.5em;
    }
  }
  
  @media (min-width: 1200px) {
    .magicCorePoints .magicPoints input {
      font-size: 1.5em;
    }
    .nonagram.open .magicCorePoints .magicPoints input {
      font-size: 3em;
    }
    .magicCorePoints .magicPoints h3 {
      font-size: 0.75em;
    }
    .nonagram.open .magicCorePoints .magicPoints h3 {
      font-size: 1.5em;
    }
  }
  
  /* =Info Box= */
  
  .infoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    aspect-ratio: 2/1;
    margin-top: -6px;
  }
  
  .healthBoxLeft,
  .healthBoxRight,
  .jumpHeightBox,
  .fallHeightBox,
  .movementSpeedBox,
  .carryWeightBox {
    padding: 1em;
  }

  .healthBoxLeft,
  .healthBoxRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    height: calc(50% - 2em);
    z-index: 4;
  }
  
  .healthBoxLeft {
    -webkit-transform: translate(50%, -100%);
    transform: translate(50%, -100%);
  }
  
  .healthBoxRight {
    -webkit-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
  }
  
  .jumpBox,
  .runBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: calc(50% - 2em);
  }
  
  .jumpBox {
    text-align: right;
  }
  
  .runBox {
    text-align: left;
  }

  @media (min-width: 1000px) {
    .infoBox input {
      font-size: 2.5em;
    }
    .infoBox h2 {
      font-size: 1.5em;
    }
    .infoBox h3 {
      font-size: 1em;
    }
    .infoBox h4 {
      font-size: 0.75em;
    }
  }

  @media (min-width: 1200px) {
    .infoBox input {
      font-size: 1.8em;
    }
    .infoBox h2 {
      font-size: 0.8em;
    }
    .infoBox h3 {
      font-size: 0.8em;
    }
    .infoBox h4 {
      font-size: 0.44em;
    }
    .healthBoxLeft {
      -webkit-transform: translate(25%, -100%);
      transform: translate(25%, -100%);
    }    
    .healthBoxRight {
      -webkit-transform: translate(-25%, -100%);
      transform: translate(-25%, -100%);
    }
  }
  
  /* ====Dividers==== */
  
  .walletCorner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 30%;
    width: 39.75%;
    height: 29%;
    aspect-ratio: 1/1;
    outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
    outline-offset: -6px;
    overflow: hidden;
    background: linear-gradient(135deg, rgba(31,34,18,0.4) 0%, rgba(115,110,110,1) 60%);
    -webkit-transform: rotate(45deg) translate(50%,calc(50% - 1px));
    transform: rotate(45deg) translate(50%,calc(50% - 1px));
    z-index: -1;
  }
  
  .walletCorner .divider {
    width: 3px;
    height: 150%;
    outline: 2px solid hsl(var(--p-hs-gold) var(--l-70));
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  .healthBoxLeft .divider,
  .healthBoxRight .divider,
  .jumpBox .divider,
  .runBox .divider {
    width: 100%;
    height: 0%;
    outline: 1px solid hsl(var(--p-hs-gold) var(--l-70));
    outline-offset: 0.5px;
    -webkit-transform: translate(0,-4px);
    transform: translate(0,-4px);
  }
  
  /* ==Stats Box== */
  
  .containerInner {
    display: grid;
    grid-template-rows: 1fr 9fr 1fr;
    grid-template-columns: 1fr 9fr 1fr;
    height: 40%;
    width: 40%;
    margin-bottom: -5%;
    -webkit-transform: translate(-30%,0);
    transform: translate(-30%,0);
    aspect-ratio: 1/1 !important;
    transition: 0.5s ease-in-out;
  }
  
  .containerInner:hover {
    -webkit-transform: translate(-30%,0) rotate(720deg);
    transform: translate(-30%,0) rotate(720deg);
  }
  
  .corePoints {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1 !important;
    cursor: pointer;
    overflow: hidden;
    outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
    -webkit-border-radius: 50%;
    border-radius: 50%;
    outline-offset: -6px;
    background: radial-gradient(ellipse, hsl(var(--s-hs-mind) var(--l-50)) 25%, rgba(190,200,195,0.9) 75%);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: 0.5s ease-in-out;
  }

  .corePoints input {
    font-size: 10em;
  }

  .corePoints h3 {
    font-size: 6em;
  }

  .corePoints .coreBonus,
  .corePoints .magicDesc {
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg); 
  }
  
  .containerInner:hover .corePoints {
    -webkit-transform: rotate(-765deg);
    transform: rotate(-765deg);
  }

  @media (min-width: 1000px) {
    .corePoints input {
      font-size: 5em;
    }
    .corePoints h3 {
      font-size: 2em;
    }
  }

  @media (min-width: 1200px) {
    .corePoints input {
      font-size: 3em;
    }
    .corePoints h3 {
      font-size: 1.5em;
    }
  }
  
  .statsHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    position: absolute;
    height: 150%;
    width: 148%;
    background: rgba(127,127,127,0.001);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(45deg) translate(-7%,-50%);
    transform: rotate(45deg) translate(-7%,-50%);
    clip-path: polygon(0 0, 50% 0, 100% 50%, 100% 100%, 0 100%);
    transition: 1s;
  }

  @media (min-width: 1000px) {
    .statsHolder {
      clip-path: unset;
    }
  }
  
  .statsBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 5%;
    width: 55%;
    margin-block: 2.5em;
    background: linear-gradient(110deg, rgba(31,34,18,0.8) 0%, rgba(115,115,115,0.8) 100%);
    outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
    box-shadow: -8px 1px 5px 3px rgba(115,115,115,0.7);
    z-index: 0;
    transition: 1s;
  }
  
  .statsBox.open {
    background: linear-gradient(0deg, rgba(31,34,18,0.8) 0%, rgba(115,115,115,0) 100%);
    outline: 6px double transparent;
    border-bottom: 6px double hsl(var(--p-hs-gold) var(--l-70));
    border-right: 6px double hsl(var(--p-hs-gold) var(--l-70));
    border-radius: 0 0 30px 0;
    box-shadow: -8px 1px 5px 3px transparent;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    -webkit-transform: rotate(90deg) translate(0,450%);
    transform: rotate(90deg) translate(0,450%);
    z-index: 4;
  }
  
  .statsBox:nth-child(3).open {
    -webkit-transform: rotate(90deg) translate(-20%,450%);
    transform: rotate(90deg) translate(-25.5%,450%);
  }
  
  .statsBox:nth-child(4).open {
    -webkit-transform: rotate(90deg) translate(-40%,450%);
    transform: rotate(90deg) translate(-51%,450%);
  }
  
  .statsBox.open .attrName {
    -webkit-transform: rotate(-90deg) translate(0,-140%);
    transform: rotate(-90deg) translate(0,-140%);
  }
  
  .statsBox.open .attrPoints {
    -webkit-transform: translate(-420%,0) rotate(-135deg);
    transform: translate(-420%,0) rotate(-135deg);
    z-index: 1;
  }
  
  .statsBox.open .skillBox {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-inline: -45%;
    background: linear-gradient(110deg, rgba(31,34,18,0.8) 0%, rgba(115,115,115,0.8) 100%);
    outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
    border-radius: 16px;
    box-shadow: -8px 1px 5px 3px rgba(115,115,115,0.7);
    -webkit-transform: rotate(-90deg) translate(449%,0);
    transform: rotate(-90deg) translate(49%,0);
    z-index: 4;
  }
  
  .statsBox.open .skillBox:hover {
    cursor: pointer;
    width: 100% !important;
    height: 600% !important;
    -webkit-transform: rotate(-90deg) translate(49%,0);
    transform: rotate(-90deg) translate(49%,0);
    margin-inline: -20%;
  }
  
  .statsBox.open .skillBox:hover ~ .skillBox {
    -webkit-transform: rotate(-90deg) translate(49%,0);
    transform: rotate(-90deg) translate(49%,0);
  }
  
  .statsBox.open .skillHolder {
    width: 30%;
  }
  
  .statsBox.open .skillBox:hover .skillName {
    height: 20%;
  }
  
  .statsBox.open .skillBox:hover .skillDesc {
    display: block;
    background: rgba(255, 255, 255, 0.5);
    border: 2px solid hsl(var(--p-hs-gold) var(--l-70));
    -webkit-border-radius: 0.25em;
    border-radius: 0.25em;
  }
  
  .statsBox.open .skillPoints {
    width: 20%;
  }
  
  .statsBox.open .skillBox:hover .skillPoints {
    width: 40%;
  }
  
  .statsBox.open .skillBonus {
    width: 40%;
    margin-top: 0%;
    padding: 5%;
  }
  
  .statsBox.open .attrHolder {
    -webkit-transform: translate(20%,0);
    transform: translate(20%,0);
  }
  
  .statsBox.open .attrHolder:nth-child(2n) .skillPoints {
    -webkit-transform: translate(50%,0);
    transform: translate(50%,0);
  }
  
  .statsBox.open .skillBox:hover .skillBonus {
    width: 25%;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }
  
  .statsBox.open .skillMastery,
  .statsBox.open .skillFlat {
    display: flex;
    height: 100%;
  }
  
  .statsBox.open .skillBox:hover .skillMastery,
  .statsBox.open .skillBox:hover .skillFlat {
    height: 15% !important;
    margin-left: 0;
  }
  
  .statsBox.open .skillBox:hover .floatDesc {
    display: block;
    height: 10%;
  }

  @media (min-width: 1000px) {
    .statsBox {
      width: 65%;
      height: 6%;
      margin-block: 1.2em;
    }
  }

  @media (min-width: 1200px) {
    .statsBox {
      width: 90%;
      height: 6.8%;
      margin-block: 1.8em;
    }
  }
  
  #strengthStatBox .attrName,
  #strengthStatBox .attrPoints,
  #strengthStatBox .skillBonus {
    background: radial-gradient(circle, rgba(200,200,120,0.9) 25%, rgba(200,200,200,0.9) 75%);
  }
  
  #strengthStatBox .skillMastery,
  #strengthStatBox .skillFlat {
    background: radial-gradient(ellipse, rgba(200,200,120,0.9) 0%, rgba(0,0,0,0) 75%);
  }
  
  #dexterityStatBox .attrName,
  #dexterityStatBox .attrPoints,
  #dexterityStatBox .skillBonus {
    background: radial-gradient(circle, rgba(120,200,120,0.9) 25%, rgba(200,200,200,0.9) 75%);
  }
  
  #dexterityStatBox .skillMastery,
  #dexterityStatBox .skillFlat {
    background: radial-gradient(ellipse, rgba(120,200,120,0.9) 0%, rgba(0,0,0,0) 75%);
  }
  
  #intelligenceStatBox .attrName,
  #intelligenceStatBox .attrPoints,
  #intelligenceStatBox .skillBonus {
    background: radial-gradient(circle, rgba(120,160,200,0.9) 25%, rgba(200,200,200,0.9) 75%);
  }
  
  #intelligenceStatBox .skillMastery,
  #intelligenceStatBox .skillFlat {
    background: radial-gradient(ellipse, rgba(120,160,200,0.9) 0%, rgba(0,0,0,0) 75%);
  }
  
  .attrName {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,0.01);
    cursor: pointer;
    width: 15%;
    padding-right: 5%;
    margin-right: -20%;
    height: 100%;
    -webkit-border-radius: 3em;
    border-radius: 3em;
    -webkit-transform: translate(-10%,-100%);
    transform: translate(-10%,-100%);
    z-index: 6;
    transition: 1s;
  }

  .attrName:hover {
    background: rgba(255,255,255,0.25);
  }
  
  .infoButton {
    display: flex;
    width: 50%;
    position: relative;
    justify-content: center;
    aspect-ratio: 1/1 !important;
    z-index: 7;
  }

  .infoButton:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    pointer-events: none;
    top: 18%;
    left: 46%;
    border-top:   1em solid transparent;
    border-left:  1.7em solid rgba(255,255,255,0.9);
    border-bottom:1em solid transparent;
    transform-origin: center left;
    transform: rotate(90deg);
    transition: 0.5s;
  }
  
  .infoButton:hover:after {
    border-left:  1.7em solid hsl( var(--s-hs-mind) var(--l-30) );
    transform: translate(0, 50%) rotate(0deg);
    transition: 1s;
  }
  
  .triBlock1,
  .triBlock2,
  .triBlock3 {
    position: absolute;
    width: 0;
    height: 0;
    position: inherit;
    inset: 2px;
    border-style: solid;
    border-width: 0 2.5em calc(1.732 * 2.5em) 2.5em;
    border-color: transparent transparent hsl(10,100%,40%) transparent;
    mix-blend-mode: multiply;
    transition: 0.5s;
  }
  
  .triBlock1 {
    -webkit-transform: translate(calc(90%),-15%) rotate(0deg);
    transform: translate(calc(90%),-15%) rotate(0deg);
  }
  
  .infoButton:hover .triBlock1 {
    -webkit-transform: translate(calc(90%),-15%) rotate(200deg);
    transform: translate(calc(90%),-15%) rotate(200deg);
    transition: 1s;
  }
  
  .triBlock2 {
    -webkit-transform: translate(0%,-10%) rotate(40deg);
    transform: translate(0%,-10%) rotate(40deg);
  }
  
  .infoButton:hover .triBlock2 {
    -webkit-transform: translate(0%,-10%) rotate(240deg);
    transform: translate(0%,-10%) rotate(240deg);
    transition: 1s;
  }
  
  .triBlock3 {
    -webkit-transform: translate(calc(-95%),0) rotate(80deg);
    transform: translate(calc(-95%),0) rotate(80deg);
  }
  
  .infoButton:hover .triBlock3 {
    -webkit-transform: translate(calc(-95%),0) rotate(280deg);
    transform: translate(calc(-95%),0) rotate(280deg);
    transition: 1s;
  }

  @media (min-width: 1000px) {
    .attrName {
      font-size: 0.5em;
    }
    .attrName h2 {
      font-size: 3.25em;
    }
  }

  @media (min-width: 1200px) {
    .attrName {
      font-size: 0.4em;
    }
    .attrName h2 {
      font-size: 3em;
    }
  }
  
  .attrBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: 1s;
  }
  
  .attrHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    text-align: center;
    z-index: 5;
    transition: 1s;
  }
  
  .skillBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    transition: 1s;
  }
  
  .skillHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s;
  }
  
  .skillBox:hover .skillHolder {
    width: 60%;
  }
  
  .skillName {
    height: 100%;
    margin-inline: 0;
    margin-block: 2.5%;
    transition: 1s;
    background: rgba(255,255,255,0.01);
    -webkit-border-radius: 2em;
    border-radius: 2em;
    cursor: pointer;
    overflow: hidden;
    z-index: 4;
  }

  .skillName:hover {
    background: rgba(255,255,255,0.1);
  }
  
  .skillName h2 {
    color: hsl( var(--p-hs) var(--l-black));
    margin-block: 0.3em;
    font-size: 2em;
  }
  
  .skillDesc {
    display: none;
    height: 80%;
    width: 100%;
    overflow: hidden;
    transition: 1s 0.1s;
  }
  
  .skillDesc h6 {
    font-size: 1.6em;
  }
  
  .skillPoints {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .skillBonus {
    display: flex;
    text-align: center;
    width: 30%;
    margin-top: -20%;
    margin-inline: 30%;
    padding: 5%;
    aspect-ratio: 1/1;
    outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
    -webkit-border-radius: 999px;
    border-radius: 999px;
    overflow: hidden;
  }
  
  .skillBonus input {
    width: 100%;
    text-align: center;
    font-size: 2em;
  }
  
  .skillMastery,
  .skillFlat {
    display: none;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
    overflow: hidden;
  }
  
  .skillMastery input,
  .skillFlat input {
    font-size: 1.5em;
  }
  
  .floatDesc {
    display: none;
    width: 40%;
    height: 10%;
  }
  
  .floatDesc h6 {
    text-align: center;
    font-size: 1.2em;
  }

  @media (min-width: 1000px) {
    .skillName {
      font-size: 0.4em;
    }
    .skillName:nth-child(2n) {
      -webkit-transform: translate(0,-25%);
      transform: translate(0,-25%);
    }
    .skillDesc {
      font-size: 0.45em;
    }
    .floatDesc {
      font-size: 0.4em;
    }
    .skillBonus input {
      font-size: 1.5em;
    }
    .slillMastery input,
    .skillFlat input {
      font-size: 1em;
    }
  }

  @media (min-width: 1200px) {
    .skillName {
      font-size: 0.4em;
    }
    .skillName:nth-child(2n) {
      -webkit-transform: translate(0,-25%);
      transform: translate(0,-25%);
    }
    .skillDesc {
      font-size: 0.45em;
    }
    .floatDesc {
      font-size: 0.4em;
    }
    .skillBonus input {
      font-size: 1.5em;
    }
    .slillMastery input,
    .skillFlat input {
      font-size: 1em;
    }
  }
  
  .attrPoints {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    aspect-ratio: 1/1 !important;
    outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
    -webkit-border-radius: 50%;
    border-radius: 50%;
    outline-offset: -6px;
    overflow: hidden;
    -webkit-transform: translate(0,-30%) rotate(-45deg);
    transform: translate(0,-30%) rotate(-45deg);
    /* nsform: translate(0,-70%); */
    transition: 1s;
    z-index: 6;
  }
  
  /* .statsBox:hover .attrPoints {
    -webkit-transform: translate(0,-70%) !important;
    transform: translate(0,-70%) !important;
    transition: 0.25s;
  }
  
  .statsBox:hover + .statsBox .attrPoints {
    -webkit-transform: translate(0,-15%) !important;  
    transform: translate(0,-15%) !important;  
  } */

  .attrPoints input {
    font-size: 6em;
  }

  .attrPoints h3 {
    font-size: 2.5em;
  }
  
  .attrBonus {
    margin-block: 15%;
    text-align: center;
    height: 20%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .attrDice {
    text-align: center;
    padding-bottom: 10%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .skillMastery,
  .skillFlat {
    text-align: center;
    width: 50%;
  }

  @media (min-width: 1000px) {
    .attrPoints {
      font-size: 0.5em;
    }
  }
  
  /* ==Roller Box== */

.rollerHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 148%;
  margin-inline: auto;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: rotate(45deg) translate(-7%,-52%);
  transform: rotate(45deg) translate(-7%,-52%);
  z-index: 1;
  transition: 1s;
}

.rollerBox {
  display: grid;
  grid-template-areas:
    "chatMessageDisplay chatMessageDisplay chatMessageDisplay"
    "armorBonusDisplay rollerDisplay shieldBonusDisplay"
    "masteryBounusDisplay rollerDisplay weaponBonusDisplay"
    "racialBonusDisplay rollerDisplay weaponMagicDisplay"
    "extraInfoDisplay extraInfoDisplay extraInfoDisplay";
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 2fr 3fr 4fr 3fr 2fr;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin-inline: auto;
  width: 60%;
  height: 100%;
  -webkit-border-radius: 2em;
  border-radius: 2em;
}

.chatMessageDisplay {
  grid-area: chatMessageDisplay;
  width: 50%;
  height: 50%;
  margin-inline: auto;
  padding-block: 2.5px;
  align-self: end;
  outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
  outline-offset: -6px;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  background: white;
}

.chatMessageDisplay input {
  all: unset;
  font-size: 1.8em;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  margin-top: 6px;
  margin-inline: 6px;
  padding-inline: 0.5em;
}

.chatMessageDisplay button {
  all: unset;
  cursor: pointer;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 30%;
  height: 80%;
  margin-inline: 35%;
  outline: 2px solid hsl(var(--p-hs-gold) var(--l-70));
  outline-offset: -1px;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  box-shadow: -10px -10px 15px rgba(255,255,255,0.5), 10px 10px 15px rgba(70,70,70,0.12);
  background: linear-gradient(110deg, rgba(31,34,18,0.8) 0%, rgba(115,115,115,0.8) 100%);
  z-index: 1;
}

.chatMessageDisplay button:active {
  box-shadow: -10px -10px 15px rgba(255,255,255,0.5), 10px 10px 15px rgba(70,70,70,0.12),
 inset -10px -10px 15px rgba(255,255,255,0.5), inset 10px 10px 15px rgba(70,70,70,0.12);
}

@media (min-width: 1000px) {
  .chatMessageDisplay input {
    font-size: 1.2em;
  }
}

.rollerDisplay {
  grid-area: rollerDisplay;
  width: 30em;
  aspect-ratio: 1/1;
  justify-self: center;
  align-self: center;
  outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
  outline-offset: -6px;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  background: radial-gradient(circle, rgba(100,100,100,0.7) 10%, rgba(255,255,255,0.9) 100%);
}

.rollerDisplay h1 {
  height: 80%;
  width: 100%;
  margin-top: 17%;
  text-align: center;
  font-size: 16em;
}

@media (min-width: 1000px) {
  .rollerDisplay {
    width: 12em;
  }
  .rollerDisplay h1 {
    font-size: 6em;
  }
}

.armorBonusDisplay {
  grid-area: armorBonusDisplay;
  display: flex;
  justify-content: end;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 120%;
  outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
  outline-offset: -6px;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  background: linear-gradient(90deg, rgba(255,255,255,0.9) 10%, rgba(100,100,100,0.7) 100%);
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
  opacity: 50%;
}

.armorBonusDisplay.show,
.armorBonusDisplay.show h2 { 
  opacity: 100% !important;
}

.armorBonusDisplay:after {
  display: inline-block;
  position: relative;
  width: auto;
  font-family: "Font Awesome 6 Free";
  content: "\f553";
  font-size: 3em;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
  opacity: 50%;
}

.armorBonusDisplay h2 {
  width: 40%;
  font-size: 3em;
  text-align: center;
  margin: 0;
  margin-block: auto;
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
  opacity: 0%;
}

.masteryBounusDisplay {
  grid-area: masteryBounusDisplay;
  display: flex;
  justify-content: end;
  align-items: center;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 120%;
  outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
  outline-offset: -6px;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  background: linear-gradient(90deg, rgba(255,255,255,0.9) 10%, rgba(100,100,100,0.7) 100%);
  opacity: 50%;
}

.masteryBounusDisplay.show,
.masteryBounusDisplay.show h2 {
  opacity: 100% !important;
}

.masteryBounusDisplay:after {
  display: inline-block;
  position: relative;
  width: auto;
  font-family: "Font Awesome 6 Free";
  content: "\f02d";
  font-size: 3em;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  opacity: 50%;
}

.masteryBounusDisplay h2 {
  width: 40%;
  font-size: 3em;
  text-align: center;
  margin: 0;
  margin-block: auto;
  opacity: 0%;
}

.racialBonusDisplay {
  grid-area: racialBonusDisplay;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 120%;
  outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
  outline-offset: -6px;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  background: linear-gradient(90deg, rgba(255,255,255,0.9) 10%, rgba(100,100,100,0.7) 100%);
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
  opacity: 50%;
}

.racialBonusDisplay.show,
.racialBonusDisplay.show h2 {
  opacity: 100% !important;
}

.racialBonusDisplay:after {
  display: inline-block;
  position: relative;
  width: auto;
  font-family: "Font Awesome 6 Free";
  content: "\f1b0";
  font-size: 3em;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
  opacity: 50%;
}

.racialBonusDisplay h2 {
  width: 40%;
  font-size: 3em;
  text-align: center;
  margin: 0;
  margin-block: auto;
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
  opacity: 0%;
}

.shieldBonusDisplay {
  grid-area: shieldBonusDisplay;
  display: flex;
  justify-content: start;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 120%;
  outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
  outline-offset: -6px;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  background: linear-gradient(90deg, rgba(100,100,100,0.7) 10%, rgba(255,255,255,0.9) 100%);
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
  opacity: 50%;
}

.shieldBonusDisplay.show,
.shieldBonusDisplay.show h2 {
  opacity: 100% !important;
}

.shieldBonusDisplay:before {
  display: inline-block;
  position: relative;
  width: auto;
  font-family: "Font Awesome 6 Free";
  content: "\f3ed";
  font-size: 3em;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
  opacity: 50%;
}

.shieldBonusDisplay h2 {
  width: 40%;
  font-size: 3em;
  text-align: center;
  margin: 0;
  margin-block: auto;
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
  opacity: 0%;
}

.weaponBonusDisplay {
  grid-area: weaponBonusDisplay;
  display: flex;
  justify-content: start;
  align-items: center;
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 120%;
  outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
  outline-offset: -6px;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  background: linear-gradient(90deg, rgba(100,100,100,0.7) 10%, rgba(255,255,255,0.9) 100%);
  opacity: 50%;
}

.weaponBonusDisplay.show,
.weaponBonusDisplay.show h2 {
  opacity: 100% !important;
}

.weaponBonusDisplay:before {
  display: inline-block;
  position: relative;
  width: auto;
  font-family: "Font Awesome 6 Free";
  content: "\f6e3";
  font-size: 3em;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  opacity: 50%;
}

.weaponBonusDisplay h2 {
  width: 40%;
  font-size: 3em;
  text-align: center;
  margin: 0;
  margin-block: auto;
  opacity: 0%;
}

.weaponMagicDisplay {
  grid-area: weaponMagicDisplay;
  display: flex;
  justify-content: start;
  align-items: center;
  align-self: center;
  width: 100%;
  height: 120%;
  outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
  outline-offset: -6px;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  background: linear-gradient(90deg, rgba(100,100,100,0.7) 10%, rgba(255,255,255,0.9) 100%);
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
  opacity: 50%;
}

.weaponMagicDisplay.show,
.weaponMagicDisplay.show h2 {
  opacity: 100% !important;
}


.weaponMagicDisplay:before {
  display: inline-block;
  position: relative;
  width: auto;
  font-family: "Font Awesome 6 Free";
  content: "\f72b";
  font-size: 3em;
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
  opacity: 50%;
}

.weaponMagicDisplay h2 {
  width: 40%;
  font-size: 3em;
  text-align: center;
  margin: 0;
  margin-block: auto;
  -webkit-transform: skew(30deg);
  transform: skew(30deg);
  opacity: 0%;
}

.extraInfoDisplay {
  grid-area: extraInfoDisplay;
  justify-self: center;
  align-self: start;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-block: 0.5em;
  outline: 6px double hsl(var(--p-hs-gold) var(--l-70));
  outline-offset: -6px;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  background: rgb(180,180,180);
  opacity: 50%;
}

.extraInfoDisplay.show {
  opacity: 100% !important;
}

.extraInfoDisplay h3 {
  all: unset;
  font-size: 2.8em;
  margin-top: 0;
  margin-bottom: -0.5e3;
  margin-inline: 6px;
  padding-inline: 0.5em;
}

@media (min-width: 1000px) {
  .extraInfoDisplay h3 {
    font-size: 1em;
  }
}